@model Model.Team

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        @Html.Partial("ProfileCol")
        <!-- Delete -->
        <div class="col-lg-9 contentBloco">
            <div>
                <h2>Remover Equipe</h2>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @ViewBag.SelectedTeam.Name
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @ViewBag.SelectedTeam.Description
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Remover" class="btn btn-danger" />
                    </div>
                }
            </div>
            <div style="margin-top: 15px;">
                @Html.ActionLink("Cancelar", null, null, null, new { href = Request.UrlReferrer })
            </div>
        </div>
    </div>
</div>
