@model Model.Team

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        <div class="col-lg-3">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="@ViewBag.Profilein.ProfilePhoto">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">@ViewBag.ProfileIn.Name</a>
                    </div>
                    <div class="desc">@ViewBag.ProfileIn.Role</div>
                    <div class="desc">@ViewBag.Profilein.Email</div>
                    <div class="desc"></div>
                </div>
                <hr />
                <div class="info-menu">
                    <div class="title sub-title">
                        <a target="_blank" href="http://scripteden.com/">@Html.ActionLink("Equipes", "Index", "Team")</a>
                    </div>
                    @foreach (var team in ViewBag.ProfileIn.Teams)
                    {
                    <div class="bottom">
                        <a class="btn btn-sm" href="https://twitter.com/webmaniac">
                            @team.Name
                        </a>
                    </div>
                    }
                </div>
                <div class="info-menu">
                    <div class="title sub-title">
                        <a target="_blank" href="http://scripteden.com/">Contatos</a>
                    </div>
                    @foreach (var contact in ViewBag.ProfileIn.Contacts)
                    {
                    <div class="bottom">
                        <a class="btn btn-sm" href="https://twitter.com/webmaniac">
                            @contact.Name
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- Equipes -->
        <div class="col-lg-9 content-block">
            <div class="contentBloco">
                <h2>@ViewBag.SelectedTeam.Name</h2>
                <hr />
                <p>@ViewBag.SelectedTeam.Description</p>
                <hr />
                <table class="table table-striped custab">
                    <thead>
                        <a href="@Url.Action("Enter", "Team", new { id = ViewBag.SelectedTeam.Id })" class="btn btn-success btn-xs pull-right"><b>+</b> Entrar</a>
                        <th>Membros</th>
                    </thead>
                    @foreach (var profile in ViewBag.SelectedTeam.Profiles)
                    {
                        <tr>
                            <td>
                                <img src="@profile.ProfilePhoto" />
                            </td>
                            <td>
                                @profile.Name
                            </td>
                            <td>
                                @profile.Role
                            </td>
                            <td>
                                @profile.Email
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>







