@model Model.Team

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        @Html.Partial("ProfileCol")
        <!-- Equipe Detail -->
        <div class="col-lg-9 content-block">
            <div class="contentBloco">
                <h2>@ViewBag.SelectedTeam.Name</h2>
                <hr />
                <p>@ViewBag.SelectedTeam.Description</p>
                <hr />
                <table class="table table-striped custab">
                    <thead>
                    @if (!ViewBag.ProfileIn.HasTeam(ViewBag.SelectedTeam.Id))
                    {
                    <a href="@Url.Action("Enter", "Team", new { id = ViewBag.SelectedTeam.Id })" class="btn btn-success btn-xs pull-right rightButtonsMargin"><b>+</b> Entrar</a>
                    }
                    else
                    {
                    <a href="@Url.Action("Leave", "Team", new { id = ViewBag.SelectedTeam.Id })" class="btn btn-danger btn-xs pull-right rightButtonsMargin"><b>-</b> Sair</a>
                    }
                    <th>Membros</th>
                    </thead>
                    @foreach (var profile in ViewBag.SelectedTeam.Profiles)
                    {
                        <tr>
                            <td>
                                <img src="@profile.ProfilePhoto" />
                            </td>
                            <td>
                                @profile.Name
                            </td>
                            <td>
                                @profile.Role
                            </td>
                            <td>
                                @profile.Email
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    @Html.ActionLink("Voltar", "Index")
                </div>
            </div>
        </div>
    </div>
</div>







