@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        @Html.Partial("ProfileCol")
        <!-- Edit -->
        <div class="col-lg-9 contentBloco">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Editar @ViewBag.SelectedTeam.Name</h2>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="nameInput">Nome:</label>
                            <input id="nameInput" type="text" value="@ViewBag.SelectedTeam.Name" name="Name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="nameInput">Descrição:</label>
                            <input type="text" value="@ViewBag.SelectedTeam.Description" name="Description" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Salvar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Voltar", "Index")
            </div>
        </div>
    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
