
@{
    ViewBag.Title = "In";
}

<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        @Html.Partial("ProfileCol")
        <!-- In -->
        <div class="col-lg-9 contentBloco">
            <h2 class="header-with-edit">
                @ViewBag.SelectedTeam.Name
            </h2>
            <div>
                <a href="@Url.Action("Edit", "Team", new { id = ViewBag.SelectedTeam.Id })" class="btn btn-primary btn-xs rightButtonsMargin"><span class="glyphicon glyphicon-pencil"></span> Editar Grupo</a>
                <a href="@Url.Action("Leave", "Team", new { id = ViewBag.SelectedTeam.Id })" class="btn btn-danger btn-xs rightButtonsMargin"><b>-</b> Sair</a>
            </div>
            <hr />
            <p>@ViewBag.SelectedTeam.Description</p>
            <hr />
            <!-- textarea -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group col-lg-12">
                        <textarea class="form-control" rows="3" id="comment" name="postTextarea" placeholder="Menssagem para @ViewBag.SelectedTeam.Name"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" value="Postar" class="btn btn-primary pull-right" />
                    </div>
                </div>
            }
            <!-- Posts -->
            <hr />
            <div class="panel-collapse collapse in" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat">
                        @foreach (var post in ViewBag.SelectedTeam.Posts)
                        {
                            <li class="right clearfix col-lg-12">
                                <div class="inner-chat row">
                                    <div class="chat-body clearfix chat-mine">
                                        <div class="header header-chat">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>@post.Date</small>
                                        </div>
                                        <p>
                                            @post.Text
                                        </p>
                                    </div>
                                    <hr />
                                    @if (post.Profile == null)
                                    {
                                        <div class="chat-img chat-profile">
                                            <div class="profile-info-box pull-right">
                                                <strong class="pull-right primary-font" style="color:grey;">@post.ProfileNameStored</strong>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="chat-img chat-profile">
                                            <div class="profile-info-box pull-right">
                                                <strong class="pull-right primary-font">@post.Profile.Name</strong>
                                            </div>
                                            <div class="profile-picture-box pull-right">
                                                <img src="@post.Profile.ProfilePhoto" alt="User Avatar" class="img-circle img-fluid pull-right">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>