@{
    ViewBag.Title = "Equipes";
}


<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        <div class="col-lg-3">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="@ViewBag.Profilein.ProfilePhoto">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">@ViewBag.ProfileIn.Name</a>
                    </div>
                    <div class="desc">@ViewBag.ProfileIn.Role</div>
                    <div class="desc">@ViewBag.Profilein.Email</div>
                    <div class="desc"></div>
                </div>
                <hr />
                <div class="info-menu">
                    <div class="title sub-title">
                        <a target="_blank" href="http://scripteden.com/">@Html.ActionLink("Equipes", "Index", "Team")</a>
                    </div>
                    @foreach (var team in ViewBag.ProfileIn.Teams)
                    {
                        <div class="bottom">
                            <a class="btn btn-sm" href="https://twitter.com/webmaniac">
                                @team.Name
                            </a>
                        </div>
                    }
                </div>
                <div class="info-menu">
                    <div class="title sub-title">
                        <a target="_blank" href="http://scripteden.com/">Contatos</a>
                    </div>
                    @foreach (var contact in ViewBag.ProfileIn.Contacts)
                    {
                        <div class="bottom">
                            <a class="btn btn-sm" href="https://twitter.com/webmaniac">
                                @contact.Name
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Equipes -->
        <div class="col-lg-9 contentBloco">
            <h2>Equipes</h2>
            <hr />
            <a href="@Url.Action("Create")" class="btn btn-primary btn-xs pull-right rightButtonsMargin"><b>+</b> Adicionar nova Equipe</a>
            <table class="table table-striped custab">
                <thead>
                </thead>
                @foreach (var team in ViewBag.AllTeams)
                {
                    <tr>
                        <td>
                            <div class="bottom btn btn-sm">
                                <a class="btn btn-success btn-sm" href="@Url.Action("Details/" + team.Id)">
                                    @team.Name
                                </a>
                            </div>
                        </td>
                        <td>
                            @team.Description
                        </td>
                        <td>
                            @team.Profiles.Count Membros
                        </td>
                        <td class="text-center">
                            <a class='btn btn-info btn-xs' href="@Url.Action("Edit", "Team", new { id = team.Id })"><span class="glyphicon glyphicon-edit"></span> Editar</a> 
                            <a href="@Url.Action("Delete", "Team", new { id = team.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Deletar</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
