
@{
    ViewBag.Title = "MyTeams";
}

<div class="container">
    <div class="row">
        @Html.Partial("ProfileCol")
        <!-- Equipes -->
        <div class="col-lg-9 contentBloco">
            <h2>Minhas Equipes</h2>
            <table class="table">
                <thead>
                </thead>
                @foreach (var team in ViewBag.ProfileIn.Teams)
                {
                    <tr class="tr-mine">
                        <td>
                            <a class="wrap-btn btn-default link-100" href="@Url.Action("Details/" + team.Id)">
                                <div class="contact-buttom-index row text-left">
                                    <div class="pull-left col-lg-3">
                                        <strong>@team.Name</strong>
                                    </div>
                                    <div class="pull-left col-lg-5">
                                        @team.Description
                                    </div>
                                    <div class="pull-left col-lg-4">
                                        <div>
                                            @team.Profiles.Count Membros
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td class="row">
                            <div class="col-lg-6">
                                <a class='btn btn-info btn-xs pull-left' href="@Url.Action("Edit", "Team", new { id = team.Id })"><span class="glyphicon glyphicon-edit"></span></a>
                            </div>
                            <div class="col-lg-6">
                                <a href="@Url.Action("Delete", "Team", new { id = team.Id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>