
@{
    ViewBag.Title = "EditMyProfile";
}

<div class="container">
    <div class="row">
        <!-- ProfileCard-->
        @Html.Partial("ProfileCol")
        <!-- Edit Profile -->
        <div class="col-lg-9 contentBloco">
            @using (Html.BeginForm("EditMyProfile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Editar Meu Perfil</h2>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="nameInput">Nome:</label>
                            <input id="nameInput" type="text" value="@ViewBag.ProfileIn.Name" name="Name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="nameInput">Cargo:</label>
                            <input type="text" value="@ViewBag.ProfileIn.Role" name="Role" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="nameInput">Foto do Perfil:</label>
                            <input type="file" name="photo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Salvar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer })
            </div>
        </div>
    </div>
</div>