
@{
    ViewBag.Title = "MyContacts";
}

<div class="container">
    <div class="row">
        @Html.Partial("ProfileCol")
        <!-- Equipes -->
        <div class="col-lg-9 contentBloco">
            <h2>Meus Contatos</h2>
            <hr />
            <table class="table">
                <thead>
                </thead>
                @foreach (var profile in ViewBag.ProfileIn.Contacts)
                {
                    if (profile.Id != ViewBag.ProfileIn.Id)
                    {
                        <tr class="tr-mine">
                            <td>
                                <a class="btn btn-default btn-sm link-100" href="@Url.Action("Details", "Profile", new { id = profile.Id + "/" })">
                                    <div class="contact-buttom-index">
                                        <div class="profile-picture-box pull-left">
                                            <img src="@profile.ProfilePhoto" alt="User Avatar" class="img-circle img-fluid">
                                        </div>
                                        <div class="pull-left">
                                            <strong>@profile.Name</strong>
                                            <div>@profile.Email</div>
                                        </div>
                                        <div class="pull-left">
                                            <strong>Cargo</strong>
                                            <p>@profile.Role</p>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>