
@{
    ViewBag.Title = "ProfileCol";
}

@if (Request.IsAuthenticated)
{
    <!-- ProfileCard-->
    <div class="col-lg-3">
        <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
                <img alt="" src="@ViewBag.Profilein.ProfilePhoto">
            </div>
            <div class="info">
                <div class="title">
                    <a href="/Home/in">@ViewBag.ProfileIn.Name</a>
                </div>
                <div class="desc">@ViewBag.ProfileIn.Role</div>
                <div class="desc">@ViewBag.Profilein.Email</div>
                <div class="desc"></div>
            </div>
            <hr />
            <div class="info-menu menssageBtn menu-info-block">
                <div class="menu-button">
                        <a href="@Url.Action("Index", "Menssage")" class="btn btn-sm btn-primary col-lg-10 text-center">
                            Mensagens
                        </a>
                </div>
            </div>
            <hr />
            <div class="info-menu menu-info-block">
                <div class="title sub-title">
                    Equipes
                </div>
                <div class="menu-button">
                    @foreach (var team in ViewBag.ProfileIn.TakeNTeams(5))
                    {
                        <a href="@Url.Action("In", "Team", new { id = team.Id})" class="btn btn-sm btn-primary col-lg-10 text-center">
                            @team.Name
                        </a>
                    }
                </div>
                @if (ViewBag.ProfileIn.Teams.Count != 0)
                {
                    <div style="margin-bottom: 10px;">
                        <a href="@Url.Action("MyTeams", "Team")">
                            Minhas Equipes
                        </a>
                    </div>
                }
                <div>
                    <a href="@Url.Action("Index", "Team")">
                        Buscar Equipes
                    </a>
                </div>
            </div>
            <hr />
            <div class="info-menu menu-info-block">
                <div class="title sub-title">
                    Contatos
                </div>

                <table class="table">
                    <thead>
                    </thead>
                    @foreach (var profile in ViewBag.ProfileIn.TakeNContacts(5))
                    {
                        <tr class="tr-mine">
                            <td>
                                <a class="btn btn-default btn-sm" href="@Url.Action("Details", "Profile", new { id = profile.Id + "/" })">
                                    <div class="contact-buttom-index row">
                                        <div class="profile-picture-box col-lg-4">
                                            <img src="@profile.ProfilePhoto" alt="User Avatar" class="img-circle img-fluid">
                                        </div>
                                        <div class="col-lg-8">
                                            <strong>@profile.Name</strong>
                                            <div>@profile.Email</div>
                                        </div>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
                @if (ViewBag.ProfileIn.Contacts.Count != 0)
                {
                    <div style="margin-bottom: 10px;">
                        <a href="@Url.Action("MyContacts", "Profile")">
                            Meus Contatos
                        </a>
                    </div>
                }
                <a href="@Url.Action("Index", "Profile")">
                    Buscar Contato
                </a>
            </div>
        </div>
    </div>
}